<h1>This is the page i made for the homework assignment</h1>
<p1>This page will have a funny picture of a baby</p1>


<IMG SRC="http://funnyasduck.net/wp-content/uploads/2012/10/funny-drunk-baby-wine-happy-birthday-pics.jpg" ALT="some text" WIDTH=500 HEIGHT=500>

<IMG SRC="http://www.dumpaday.com/wp-content/uploads/2013/02/funny-utah-jokes.jpg" ALT="some text" WIDTH=500 HEIGHT=500>

